#butt{
    margin-top:9px;
    
}
#compresult{
    margin-top:9px;
    margin-bottom: :5px;
    font-family: monospace;
    font-size:20px;
}

#userresult{
    margin-top:2px;
    margin-bottom: :5px;
    font-family: monospace;
    font-size:20px;
}
#finalresult{
    margin-top:5px;
    margin-bottom: :5px;
    font-family: monospace;
    font-size:20px;
}